In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from schemas import DataCatalog
import constants as const
from ons_population import ONSPopulationScenario
import seaborn as sns

In [58]:
# load data catalog
catalog =  DataCatalog.load_from_yaml("data_catalog.yaml")

## **Loading the GP list**

In [59]:
# this is the first in the dataset list
gp_lists = catalog.single_data_sources[4]
gp_lists_df = gp_lists.load()
print(gp_lists.zip_file.namelist())
print(gp_lists_df.shape)
gp_lists_df.head()

['1. General Practice – August 2023 Individual Level.csv', '0. General Practice Month Year Individual Level Definitions.xlsx', '0. Guide to using Pivot Tables with the Individual-level CSV.pdf']
(200195, 19)

/workspaces/PrimaryCareDemandAndCapacity/schemas.py:146: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv(csv_file, **read_csv_kwargs)

,YEAR,Month,COMM_REGION_CODE,COMM_REGION_NAME,ICB_CODE,ICB_NAME,SUB_ICB_CODE,SUB_ICB_NAME,DATA_SOURCE,UNIQUE_IDENTIFIER,STAFF_GROUP,DETAILED_STAFF_ROLE,STAFF_ROLE,COUNTRY_QUALIFICATION_AREA,COUNTRY_QUALIFICATION_GROUP,AGE_BAND,AGE_YEARS,GENDER,FTE
0,2023,8,Y62,North West,QE1,NHS Lancashire and South Cumbria ICB,01K,NHS Lancashire and South Cumbria ICB - 01K Mor...,Provided,33144,GP,Partner/Provider,GP Partners,Asia South,Elsewhere,45-49,49.0,Male,1.013333
1,2023,8,Y63,North East and Yorkshire,QHM,NHS North East and North Cumbria ICB,84H,NHS North East and North Cumbria ICB - 84H Cou...,Provided,134521,Direct Patient Care,Other,Other Direct Patient Care,Not Applicable,Not Applicable,30-34,34.0,Female,0.986667
2,2023,8,Y63,North East and Yorkshire,QHM,NHS North East and North Cumbria ICB,16C,NHS North East and North Cumbria ICB - 16C Tee...,Provided,37777,GP,Senior Partner,GP Partners,EEA,EEA,60-64,60.0,Male,1.000000
3,2023,8,Y63,North East and Yorkshire,QHM,NHS North East and North Cumbria ICB,84H,NHS North East and North Cumbria ICB - 84H Cou...,Provided,83374,GP,Salaried By Practice,Salaried GPs,UK,UK,30-34,31.0,Male,0.560000
4,2023,8,Y63,North East and Yorkshire,QHM,NHS North East and North Cumbria ICB,84H,NHS North East and North Cumbria ICB - 84H Cou...,Provided,183380,Admin/Non-Clinical,Medical Secretary,Medical Secretaries,Not Applicable,Not Applicable,60-64,63.0,Female,0.850133

In [60]:
print(gp_appts_df['STAFF_ROLE'].nunique())

43

## **Loading the ONS Population projections**

In [61]:
ons_projection_catalog_entry = catalog.scenario_data_sources[0].scenarios[0]
ons_projection_df = ons_projection_catalog_entry.load()
print(ons_projection_catalog_entry.zip_file.namelist())
print(ons_projection_df.shape)
ons_projection_df.head()

['2018 SNPP CCG pop females.csv', '2018 SNPP CCG pop males.csv', '2018 SNPP CCG pop persons.csv', 'SNPP Z2 CCG Pop_read me.txt']
(17940, 31)

,AREA_CODE,AREA_NAME,COMPONENT,SEX,AGE_GROUP,2018,2019,2020,2021,2022,...,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043
0,E38000004,NHS Barking and Dagenham CCG,Population,persons,0,3819.0,3539.476,3553.996,3545.026,3503.164,...,3485.017,3512.290,3542.499,3574.884,3607.783,3638.390,3663.012,3682.648,3697.617,3706.681
1,E38000004,NHS Barking and Dagenham CCG,Population,persons,1,3923.0,3841.214,3570.205,3583.060,3571.184,...,3482.414,3507.074,3534.224,3564.456,3597.080,3630.402,3661.624,3687.005,3707.455,3723.301
2,E38000004,NHS Barking and Dagenham CCG,Population,persons,2,4050.0,3912.292,3826.447,3565.341,3575.791,...,3448.544,3469.903,3494.032,3520.703,3550.533,3582.885,3616.072,3647.352,3672.985,3693.800
3,E38000004,NHS Barking and Dagenham CCG,Population,persons,3,3822.0,4036.658,3906.033,3816.546,3563.662,...,3426.572,3442.075,3462.911,3486.569,3512.830,3542.304,3574.383,3607.421,3638.690,3664.447
4,E38000004,NHS Barking and Dagenham CCG,Population,persons,4,3905.0,3805.264,4003.299,3879.217,3788.087,...,3394.732,3405.045,3420.062,3440.323,3463.422,3489.140,3518.097,3549.706,3582.360,3613.373

In [62]:
print(ons_projection_df['AGE_GROUP'].unique())

['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57'
 '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71'
 '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90 and over' 'All ages']

In [63]:
#Filtering the dataset to remove values corresponding to 'All ages' in the 'AGE_GROUP' column
ons_projection_df = ons_projection_df.loc[ons_projection_df['AGE_GROUP']!='All ages'].drop(columns=['COMPONENT','SEX']).set_index('AREA_CODE')

#Replacing '90 and over' with 90
ons_projection_df['AGE_GROUP'] = ons_projection_df2['AGE_GROUP'].replace('90 and over', 90)

print(ons_projection_df.shape)
ons_projection_df.head()

(17745, 28)

,AREA_NAME,AGE_GROUP,2018,2019,2020,2021,2022,2023,2024,2025,...,2034,2035,2036,2037,2038,2039,2040,2041,2042,2043
AREA_CODE,,,,,,,,,,,,,,,,,,,,,
E38000004,NHS Barking and Dagenham CCG,0,3819.0,3539.476,3553.996,3545.026,3503.164,3469.075,3437.253,3428.219,...,3485.017,3512.290,3542.499,3574.884,3607.783,3638.390,3663.012,3682.648,3697.617,3706.681
E38000004,NHS Barking and Dagenham CCG,1,3923.0,3841.214,3570.205,3583.060,3571.184,3529.219,3494.651,3462.900,...,3482.414,3507.074,3534.224,3564.456,3597.080,3630.402,3661.624,3687.005,3707.455,3723.301
E38000004,NHS Barking and Dagenham CCG,2,4050.0,3912.292,3826.447,3565.341,3575.791,3561.177,3519.204,3484.008,...,3448.544,3469.903,3494.032,3520.703,3550.533,3582.885,3616.072,3647.352,3672.985,3693.800
E38000004,NHS Barking and Dagenham CCG,3,3822.0,4036.658,3906.033,3816.546,3563.662,3572.051,3554.902,3512.813,...,3426.572,3442.075,3462.911,3486.569,3512.830,3542.304,3574.383,3607.421,3638.690,3664.447
E38000004,NHS Barking and Dagenham CCG,4,3905.0,3805.264,4003.299,3879.217,3788.087,3543.565,3549.867,3530.741,...,3394.732,3405.045,3420.062,3440.323,3463.422,3489.140,3518.097,3549.706,3582.360,3613.373

In [65]:
print(ons_projection_df2['AGE_GROUP'].unique())

['0' '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13' '14' '15'
 '16' '17' '18' '19' '20' '21' '22' '23' '24' '25' '26' '27' '28' '29'
 '30' '31' '32' '33' '34' '35' '36' '37' '38' '39' '40' '41' '42' '43'
 '44' '45' '46' '47' '48' '49' '50' '51' '52' '53' '54' '55' '56' '57'
 '58' '59' '60' '61' '62' '63' '64' '65' '66' '67' '68' '69' '70' '71'
 '72' '73' '74' '75' '76' '77' '78' '79' '80' '81' '82' '83' '84' '85'
 '86' '87' '88' '89' '90']